DirectoryIndex index.html index.php
RewriteEngine on
<IfModule mod_rewrite.c>

    RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteRule ^([^/]*)/([^/]*)$ index.php?file=$1&method=$2 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php?op=$1 [NC,L]
</IfModule>