/*body {
    background-color: blue;
    color: blanchedalmond;

}*/

/*a{
    color: antiquewhite;
}*/

#lista1{
    /*margin: 20px 5px 50px 15px;*/
    border: solid 1px #000;
    display: inline-block;
    text-align: left;
    /*margin: 0 auto;*/
    /*border-radius: 10px;*/
    border-top-right-radius: 10px;
    border-bottom-left-radius:  10px;

}

div {
  display: inline-block;
  border-top: 100px;
}

.container{
  width: 600px;   
  display: inline-block;
  border: solid 1px #000;
}

.container2{
  display: flex;
  justify-content: space-between;
}

.container3{
  display: flex;
  justify-content: space-around;
}

.item{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.item1{
  background-color: red;
}

.item2{
  background-color: #CDCDCD;
}

.item3{
  background-color: black;
  color: #FFF;
}

.item4{
  background-color: #4fe4fe;
}

